* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    display: flex;
    background: #f4f0f0;
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    height: 100vh;
    background: linear-gradient(180deg, #22302f, #1b2524);
    position: fixed;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
}

.logo-area {
    text-align: center;
    margin-bottom: 50px;
}

.logo-area img {
    width: 120px;
    margin-bottom: 10px;
}

.logo-area h2 {
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
}

.menu-item {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-radius: 8px;
    transition: 0.3s;
}

.menu-item:hover {
    background-color: rgba(255,255,255,0.1);
}

.sair {
    margin-top: auto;
    color: #ff7b7b;
}

/* CONTEÚDO */
.conteudo {
    margin-left: 260px;
    padding: 60px;
    width: 100%;
}

/* CARDS MAIORES */
.cards {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 50px;
}

.card {
    width: 260px;       /* largura fixa */
    height: 150px;      /* altura fixa */
    background: linear-gradient(135deg, #1f2f2b, #1c3a35);
    color: white;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    border-radius: 20px;
    display: flex;      
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.card span {
    font-size: 36px;
    font-weight: bold;
}
.card:hover {
    transform: scale(1.05);
    background-color: #0d3a37;
}

.quantidade {
    font-size: 42px;
    margin-top: 10px;
    font-weight: bold;
}

/* ÁREA DINÂMICA */
.area-dinamica {
    text-align: center;
}

.area-dinamica img {
    width: 600px;
    border-radius: 20px;
}

/* LISTA ESTILO TABELA */
.lista {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    background: white;
    border-radius: 12px;
    padding: 20px;
}

.topo-lista {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.barra-pesquisa {
    padding: 10px;
    width: 250px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.linha-tabela {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    padding: 15px 10px;
    border-bottom: 1px solid #ddd;
    align-items: center;
}

.cabecalho-tabela {
    background: #22302f;
    color: white;
    border-radius: 8px;
    font-weight: bold;
}

.olho {
    cursor: pointer;
    font-size: 18px;
}

.olho.ativo {
    color: blue;
}

/* RODAPÉ */
.rodape {
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}
