<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Lista de Alunos</title>
<link rel="stylesheet" href="../static/alunos.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

<!-- SIDEBAR -->
<aside class="sidebar">

    <div class="logo-area">
        <img src="{{ url_for('static', filename='Logo EducaFlow em verde.png') }}" alt="Logo">
        <h2>EducaFlow</h2>
    </div>

    <nav>
        <a href="/" class="menu-item"><i class="fa-solid fa-house"></i> Início</a>
        <a href="/alunos.html" class="menu-item"><i class="fa-solid fa-user-graduate"></i> Alunos</a>
        <a href="/turmas" class="menu-item"><i class="fa-solid fa-chalkboard"></i> Turmas</a>
        <a href="/servidores.html" class="menu-item"><i class="fa-solid fa-user-tie"></i> Servidores</a>
        <a href="/login.html" class="menu-item sair"><i class="fa-solid fa-right-from-bracket"></i> Sair</a>
    </nav>

</aside>

<div class="container">

    <div class="topo-acoes">
        <h1>Lista de Alunos</h1>

        <a href="../templates/cadastrar_alunos.html" class="btn-adicionar">
            <i class="fa-solid fa-plus"></i> Adicionar Aluno
        </a>
    </div>

    <div class="barra-pesquisa">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" id="buscar" placeholder="Pesquisar aluno...">
    </div>

    <h3>Total: <span id="totalAlunos">0</span></h3>

    <table>
       <thead>
            <tr>
                <th>ID</th>
                <th>Matrícula</th>
                <th>Nome</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody id="corpoTabela"></tbody>
    </table>

</div>

<footer class="rodape">
    © Instituto Federal Baiano - Campus Bom Jesus da Lapa
</footer>

<script src="{{ url_for('static', filename='script_alunos.js') }}"></script>
</body>
</html>
