<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cadastrar Servidor</title>
<link rel="stylesheet" href="{{ url_for('static', filename='servidores.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

<!-- SIDEBAR -->
<aside class="sidebar">

    <div class="logo-area">
        <img src="{{ url_for('static', filename='Logo EducaFlow em verde.png') }}" alt="Logo">
        <h2>EducaFlow</h2>
    </div>

    <nav>
        <a href="/" class="menu-item"><i class="fa-solid fa-house"></i> Início</a>
        <a href="/alunos" class="menu-item"><i class="fa-solid fa-user-graduate"></i> Alunos</a>
        <a href="/turmas" class="menu-item"><i class="fa-solid fa-chalkboard"></i> Turmas</a>
        <a href="/servidores" class="menu-item"><i class="fa-solid fa-user-tie"></i> Servidores</a>
        <a href="/login" class="menu-item sair"><i class="fa-solid fa-right-from-bracket"></i> Sair</a>
    </nav>

</aside>


<div class="container_centralizado">
    <div class="card_cadastro">
        <h1> Cadastro de Servidor</h1>

        <form method="POST">
            <div class="form_grid">
                <div class="grupo_input">
                    <label><i class="fa-solid fa-user"></i> Nome do Servidor:</label>
                    <input type="text" name="nome" placeholder="Digite o nome do servidor..." required>
                </div>
            
                <div class="grupo_input">
                    <label><i class="fa-solid fa-id-card"></i> CPF</label>
                    <input type="text" name="cpf" placeholder="Digite seu CPF..." required>
                </div>

                <div class="grupo_input">
                    <label><i class="fa-solid fa-envelope"></i> Email</label>
                    <input type="email" name="email" placeholder="Digite seu email..." required>
                </div>

                <div class="grupo_input">
                    <label><i class="fa-solid fa-location-dot"></i> Endereço:</label>
                    <input type="text" name="endereco" placeholder="Rua X, Bairro Y...">
                </div>

                <div class="grupo_input">
                    <label><i class="fa-solid fa-map"></i> Estado:</label>
                    <input type="text" name="estado" placeholder="Digite seu estado...">
                </div>

                <div class="grupo_input">
                    <label><i class="fa-solid fa-city"></i> Cidade:</label>
                    <input type="text" name="cidade" placeholder="Digite sua cidade...">
                </div>

                <div class="grupo_input">
                    <label><i class="fa-solid fa-phone"></i> Telefone</label>
                    <input type="text" name="telefone" placeholder="Digite seu telefone..." required>
                </div>

                <div class="grupo_input">
                    <label><i class="fa-solid fa-briefcase"></i> Cargo</label>
                    <input type="text" name="cargo" placeholder="Digite seu cargo..." required>
                </div>

                <div class="grupo_input">
                    <label><i class="fa-solid fa-calendar"></i> Data de Ingresso</label>
                    <input type="date" name="data_ingresso" placeholder="Digite a data..." required>
                </div>

                <div class="grupo_input" style="grid-column: span 2;">
                    <label><i class="fa-solid fa-venus-mars"></i> Gênero</label>
                    <div class="grupo_genero">
                        <label><input type="radio" name="genero" value="Feminino"> Feminino</label>
                        <label><input type="radio" name="genero" value="Masculino"> Masculino</label>
                        <label><input type="radio" name="genero" value="Outro"> Outro</label>
                        <label><input type="radio" name="genero" value="Prefiro não dizer"> Prefiro não dizer</label>
                    </div>
                </div>

                <button type="submit" class="botao_salvar">
                    Cadastrar
                </button>
            </div>
        </form>
    </div>
</div>

<footer class="rodape">
    © <span id="ano_atual"></span> Instituto Federal Baiano - Campus Bom Jesus da Lapa <br>
    Desenvolvido por EducaFlow
</footer>

<script src="{{ url_for('static', filename='script_servidores.js') }}"></script>
</body>
</html>
