<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Atualizar Servidores</title>
<link rel="stylesheet" href="{{ url_for('static', filename='editar_alunos.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

<div class="card_editar">

    <div class="titulo_editar">
        <h1>Atualizar Dados de Aluno</h1>
        <p>Edite as informações abaixo e clique em atualizar</p>
    </div>

    <form method="POST">
        <div class="form_grid">
            <div class="grupo_input">
                <label><i class="fa-solid fa-user"></i> Nome</label>
                <input type="text" name="nome" value="{{ aluno['nome'] }}">
            </div>

            <div class="grupo_input">
                <label><i class="fa-solid fa-id-card"></i> CPF</label>
                <input type="text" name="cpf" value="{{ aluno['cpf'] }}">
            </div>

            <div class="grupo_input">
                <label><i class="fa-solid fa-envelope"></i> Email</label>
                <input type="email" name="email" value="{{ aluno['email'] }}">
            </div>

            <div class="grupo_input">
                <label><i class="fa-solid fa-location-dot"></i> Endereço:</label>
                <input type="text" name="endereco" value="{{ aluno['endereco'] }}">
            </div>

            <div class="grupo_input">
                <label><i class="fa-solid fa-map"></i> Estado:</label>
                <input type="text" name="estado" value="{{ aluno['estado'] }}">
            </div>

            <div class="grupo_input">
                <label><i class="fa-solid fa-city"></i> Cidade:</label>
                <input type="text" name="cidade" value="{{ aluno['cidade'] }}">
            </div>

            <div class="grupo_input">
                <label><i class="fa-solid fa-phone"></i> Telefone</label>
                <input type="text" name="telefone" value="{{ aluno['telefone'] }}">
            </div>

            <div class="grupo_input">
                <label><i class="fa-solid fa-calendar"></i> Data de Nascimento</label>
                <input type="date" name="data_nascimento" value="{{ aluno['data_nascimento'] }}">
            </div>

            <div class="grupo_input" style="grid-column: span 2;">
                <label><i class="fa-solid fa-venus-mars"></i> Gênero</label>
                <div class="grupo_genero">
                    <label><input type="radio" name="genero" value="Feminino" {% if aluno["genero"] == "Feminino" %}checked{% endif %}> Feminino</label>
                    <label><input type="radio" name="genero" value="Masculino" {% if aluno["genero"] == "Masculino" %}checked{% endif %}>Masculino</label>
                    <label><input type="radio" name="genero" value="Outro" {% if aluno["genero"] == "Outro" %}checked{% endif %}> Outro</label>
                    <label><input type="radio" name="genero" value="Prefiro não dizer" {% if aluno["genero"] == "Prefiro não dizer" %}checked{% endif %}>Prefiro não dizer</label>
                </div>
            </div>
            
            <button type="submit" class="botao_salvar">
                Atualizar
            </button>
        </div>
    </form>
</div>
</body>
</html>
