<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>EducaFlow - Início</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<!-- SIDEBAR -->
<aside class="sidebar">

    <div class="logo-area">
        <img src="{{ url_for('static', filename='Logo EducaFlow em verde.png') }}" alt="Logo">
        <h2>EducaFlow</h2>
    </div>

    <nav>
        <a href="/" class="menu-item"><i class="fa-solid fa-house"></i> Início</a>
        <a href="/alunos" class="menu-item"><i class="fa-solid fa-user-graduate"></i> Alunos</a>
        <a href="/turmas" class="menu-item"><i class="fa-solid fa-chalkboard"></i> Turmas</a>
        <a href="/servidores" class="menu-item"><i class="fa-solid fa-user-tie"></i> Servidores</a>
        <a href="/login" class="menu-item sair"><i class="fa-solid fa-right-from-bracket"></i> Sair</a>
    </nav>

</aside>


<main class="conteudo">

    <!-- CARDS MAIORES -->
    <section class="cards">

        <div class="card">
            <h2>ALUNOS</h2>
            <p class="quantidade"><span>{{ total_alunos }}</span></p>
        </div>

        <div class="card">
            <h2>SERVIDORES</h2>
            <p class="quantidade"><span>{{ total_servidores }}</span></p>
        </div>

        <div class="card">
            <h2>TURMAS</h2>
            <p class="quantidade"><span>{{ total_turmas }}</span></p>
        </div>

    </section>

    <!-- ÁREA DINÂMICA -->
    <section class="area-dinamica">

        <div id="imagemEscola">
            <img src="../static/if baiano.jpeg" alt="IF Baiano">
        </div>

        <div id="listaContainer"></div>

    </section>

</main>

<footer class="rodape">
    <p>&copy; <span id="ano"></span> Instituto Federal Baiano - Campus Bom Jesus da Lapa</p>
</footer>

<script src="{{ url_for('static', filename='script_index.js') }}"></script>

</body>
</html>
