<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Turmas - EducaFlow</title>
    <link rel="stylesheet" href="../startic/turmas.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

<!-- SIDEBAR -->
<aside class="sidebar">

    <div class="logo-area">
        <img src="../startic/Logo EducaFlow em verde.png" alt="Logo">
        <h2>EducaFlow</h2>
    </div>

    <nav>
        <a href="../templates/index.html" class="menu-item"><i class="fa-solid fa-house"></i> Início</a>
        <a href="../templates/alunos.html" class="menu-item"><i class="fa-solid fa-user-graduate"></i> Alunos</a>
        <a href="../templates/turmas.html" class="menu-item"><i class="fa-solid fa-chalkboard"></i> Turmas</a>
        <a href="../templates/servidores.html" class="menu-item"><i class="fa-solid fa-user-tie"></i> Servidores</a>
        <a href="../templates/login.html" class="menu-item sair"><i class="fa-solid fa-right-from-bracket"></i> Sair</a>
    </nav>

</aside>


<!-- CONTEÚDO -->
<div class="conteudo">

    <div class="topo">
        <h1>Lista de Turmas</h1>
        <a href="../templates/cadastrar_turmas.html" class="btn-add">
            <i class="fa-solid fa-plus"></i> Adicionar Turma
        </a>
    </div>

    <div class="barra-pesquisa">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" id="buscar" placeholder="Pesquisar aluno...">
    </div>

    <h3>Total: <span id="totalAlunos">0</span></h3>

    <table class="tabela">
        <thead>
            <tr>
                <th> Ano</th>
                <th>Série</th>
                <th>Turno</th>
                <th>Nº Alunos</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody id="listaTurmas">
        </tbody>
    </table>

</div>

<footer class="rodape">
    © <span id="anoAtual"></span> Instituto Federal Baiano - Campus Bom Jesus da Lapa <br>
    Desenvolvido por EducaFlow
</footer>

<script src="../startic/script_turmas.js"></script>
<script>
document.getElementById("anoAtual").textContent = new Date().getFullYear();
</script>

</body>
</html>
