<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Turmas - EducaFlow</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='turmas.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

<!-- SIDEBAR -->
<aside class="sidebar">
    <div class="logo-area">
        <img src="{{ url_for('static', filename='Logo EducaFlow em verde.png') }}" alt="Logo">
        <h2>EducaFlow</h2>
    </div>

    <nav>
        <a href="/" class="menu-item"><i class="fa-solid fa-house"></i> Início</a>
        <a href="/alunos" class="menu-item"><i class="fa-solid fa-user-graduate"></i> Alunos</a>
        <a href="/turmas" class="menu-item"><i class="fa-solid fa-chalkboard"></i> Turmas</a>
        <a href="/servidores" class="menu-item"><i class="fa-solid fa-user-tie"></i> Servidores</a>
        <a href="/login" class="menu-item sair"><i class="fa-solid fa-right-from-bracket"></i> Sair</a>
    </nav>
</aside>

<div class="conteudo">

    <div class="topo">
        <h1>Lista de Turmas</h1>
        <a href="/cadastrar_turma" class="btn-add"><i class="fa-solid fa-plus"></i> Adicionar Turma</a>
    </div>

    <!-- ALERTA -->
    {% if request.args.get('sucesso') %}
    <div class="alerta_sucesso">
        Atualização feita com sucesso!
    </div>
    {% endif %}

    {% if request.args.get('deletado') %}
        <div class="alerta_sucesso">
            Turma deletada com sucesso!
        </div>
    {% endif %}

    <!-- BARRA DE PESQUISA -->
    <div class="barra-pesquisa">
        <input type="text" id="buscar" placeholder="🔎Pesquisar turma...">
    </div>

    <h3>Total: <span id="totalTurmas">0</span></h3>

    <!-- TABELA QUE MOSTRA AS TURMAS -->
    <table class="tabela">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Ano</th>
                <th>Série</th>
                <th>Turno</th>
                <th>Modalidade</th>
                <th>Nº Alunos</th>
                <th>Sala</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody id="listaTurmas">
            {% for turma in turmas %}
            <tr>
                <td>{{ turma.nome }}</td>
                <td>{{ turma.ano_letivo }}</td>
                <td>{{ turma.serie_etapa }}</td>
                <td>{{ turma.turno }}</td>
                <td>{{ turma.modalidade }}</td>
                <td>{{ turma.numero_alunos }}</td>
                <td>{{ turma.numero_sala }}</td>
                <td>
                    <a href="/editar_turma/{{ turma.id }}"><i class="fa-solid fa-pen"></i></a> <!--editar-->
                    <a href="/deletar_turma/{{ turma.id }}" class="btn-deletar"><i class="fa-solid fa-trash"></i></a> <!--deletar-->
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- MODAL -->
<div id="modalConfirmacao" class="modal">
    <div class="modal-content">
        <h2>Confirmação</h2>
        <p id="modalMensagem"></p>
        <div class="modal-botoes">
            <button id="btnCancelar">Cancelar</button>
            <button id="btnConfirmar">Confirmar</button>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='script_turmas.js') }}"></script>
</body>
</html>
